:root {
  --dialog-max-width: 86vw;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 1em;
  max-height: 63vh;
  max-width: var(--dialog-max-width);
  background: #ffffff;
  display: none;
  border: 0;
}

.dialog[open] {
  display: block;
}

.dialog::backdrop {
  width: 100%;
  height: 100%;
  background-color: #001122;
  opacity: 0.6;
}

@media screen and (min-width: 760px) {
  :root {
    --dialog-max-width: 67vw;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --dialog-max-width: 52vw;
  }
}
